<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shubham Singh</title>
  <link rel="stylesheet" href="../../stylesheet.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Shubham Singh</h1>
    </header>
    <nav>
      <a href="../pages/puzzles.html">Puzzles</a>
    </nav>
    <h2> Questions on patterns </h2>
    <section>
    <p>1. 14, 18, -4, 22, -26</p>
    <strong>Answer: 48.</strong> 
    <p> Explanation: Subtract second number from first number, then take negative of result. <br> For eg: 18 - 14 = 4, hence next number = -4, <br> then -4 - 18 = -22, hence next number is 22, <br> then 22 - (-4) = 26, hence, next number is -26, <br> then -26 - 22 is -48, -ve of that is 48.  </p>
    <br>
    <p>2.3, 5, 8, 13, 21</p>
    <strong>Answer: 34.</strong> 
    <p> Explanation: Add previous number to next number. Eg: 3 + 5 = 8, 8 + 5 = 13, etc.</p>       
    <br>
    <p>3. 1, 2, 4, 7, 11, 16</p>
    <p>Answer: 22. </p>
    <p>Explanation: Add integers starting from 1. 1 + <strong>1</strong> = 2, 2 + <strong>2</strong> = 4, 4 + <strong>3</strong> = 7, 16 + 6 = 22</p>
    <p>4. 180, 68, 124, 196, 110, 103</p>
    <p>Answer: 107.5. Explanation: Difference between 180 and 68 is 112. now, divide this difference by two and flip signs at every step and add. so, 68 + -(-112)/2 = 124, 124 - 28 = 96, 96 + 14 = 110, 110 - 7 = 103</p>
    <p>5. 1.5, 0.833, 0.5833, 0.45, 0.366</p>
    <p>Answer: 0.3095 Explanation: (2n + 1) / (n(n+1)) </p>
    <p>6. 31, 23, 15, 27, 13, 23, 17, 11, 19, 14, 9, 15</p>
    <p>Answer: 11 Explanation: Differences between the numbers follow this pattern: -8, -8, +12, -7, -7, + 10, -6, -6, + 8, ..., -4</p>
    <p>7. 4, 20, 68, 212, 644</p>
    <p>Answer: 1940. Differences are third multiples of 16. First one is +16, next is +48, next is +144, so on ...</p>
    <p>8. F, S, T, F, F</p>
    <p>Answer: S. Abbreviation for numbers, <strong>F</strong>irst, <strong>S</strong>econd, <strong>T</strong>hird, <strong>F</strong>ourth, <strong>F</strong>ifth, <strong>S</strong>ixth</p>
    <p>9. 1, -2, 5, -12, 29, -70, 169</p>
    <p>Answer: </p>
    <p>10. 2, 0, 1, 3, 4, 2, 3, 5, 6, 4, 5, 7, 8, 6</p>
    <p>Answer: 7. Explanation: Differences for this cyclical pattern, <strong>-2, +1, +2, +1, -2,</strong> +1, +2, +1, -2, </p>
    <p>11. 142857, 285714, 428571, 571428, 714285</p>
    <p>Answer: 857142. Just multiples of 142857.</p>
    <p>12. 18, 9, 28, 14, 7, 22, 11, 34</p>
    <p>Answer: 17. Divide first number by 2 to get second number. </p>
    <p>2, 9, 30, 93, 282</p>
    <p>Answer: 849. Differences are third multiples of 7. +7, + 21, +63, + 189, +567</p>
    </section>
    <footer>
		<p>&copy; 2024 Shubham Singh. All rights reserved.</p>
		<div class="social-links">
		  <a href="https://www.linkedin.com/in/shubhamsinghnyu" target="_blank" class="social-link">
			<i class="fab fa-linkedin"></i>
		  </a>
		  <a href="https://github.com/shubhamcodez" target="_blank" class="social-link">
			<i class="fab fa-github"></i>
		  </a>
		  <a href="https://www.kaggle.com/shubhamcodez" target="_blank" class="social-link">
			<i class="fab fa-kaggle"></i>
		  </a>
		  <a href="https://www.youtube.com/ShubhamSinghYoutube" target="_blank" class="social-link">
			<i class="fab fa-youtube"></i>
		  </a>
		</div>
	</footer>
  </div>
</body>
</html>

